
h1 {
 display: flex;
    justify-content: center;
}

h4, footer > h6 {
    display: flex;
    justify-content: center;
}

.external {
    background-color: yellow
}

#taskContainer {
    display: block;
}

table{
    margin: auto;
    margin-top: 60px;
}
caption {
    font-size: small;
}
td, th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
th {
    cursor: pointer;
}
th:hover {
    background: limegreen;
}
.empty {
    background-color: #787e7e;
}

td:hover {
    background-color: red;
    color: lime;
}
/*#headerMain {*/
/*    width:920px;*/
/*    height: 195px;*/
/*    margin-top: 0px;*/
/*    position: absolute;*/
/*}*/

/*#header {*/
/*    width:920px;*/
/*    height: 195px;*/
/*    !*background: url(../img/bg-header.jpg) no-repeat;*!*/
/*    position: fixed;*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*}*/
