h1 {
    display: flex;
    justify-content: center;
}

h4, footer > h6 {
    display: flex;
    justify-content: center;
}

.external {
    background-color: yellow
}

#taskContainer {
    display: block;
}

table{
    margin: auto;
    margin-top: 60px;
}
caption {
    font-size: small;
}
td, th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
th {
    cursor: pointer;
}
th:hover {
    background: limegreen;
}

