p,
label {
   font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.slider-wraper {
    /*display: inline-block;*/
    width: 300px;
    height: 50px;
    padding: 0;
}

.slider-wrapper input {
    width: 300px;
    height: 50px;
    margin: 0;
}

.tickmarks {
    display: flex;
}

.tickmarks option label {
    display: flex;
}