
#wrapper {
    display: grid;
    font-size: 30px;
    grid-gap: 5px 5px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

#control {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 155px 155px;
}

.dall{
    text-align: center;
    border: solid #4d4d4d;
}
.dall:hover {
    background-color: darkolivegreen;
}

.elcontrol {
    text-align: center;
    align-content: inherit;
}

img {
    width: 100px;
    height: 100px;
}
